#log config
logfile="canpi.log"
#INFO,WARN,DEBUG
loglevel="DEBUG"
logappend="false"

#ed service config
tcpport=5555
candevice="can0"

#cangrid config
can_grid="true"
cangrid_port=4444

#Bonjour config
service_name="MYLAYOUT"

#network config
ap_mode="true"
ap_ssid="pi"
ap_password="12345678"
ap_channel=6
#if not running in ap mode use this
router_ssid="BRZHOME"
router_password="casabrasilis"

#can configuration
node_number=7890
turnout_file="turnout.txt"


