$def with (form, title,msg)

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="1" />
<title>$title</title>
 <link rel="stylesheet" type="text/css" href="/static/main.css">
<link href="/static/bootstrap.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      
    </div>
    <div class="content">
       <div class="span8">
           <img src="/static/merg_logo.png" />      
           <header><h3>Canpi Configuration<br/></h3></header>
           <header><h4>$msg<br/></h4></header>
           <form class="form" method="post"> 
              $:form.apmode.description : 
	      $:form.apmode.render()
	      <br>
              $:form.ap_ssid.description : 
              $:form.ap_ssid.render()
	      <hr>
              $:form.btnSave.render()
           </form>
       </div>
    </div>
  </div>
</div>


</body>
</html>
